.DS_Store
.Trashes

Artifacts/

build/
DerivedData/
xcuserdata/
Pods/

*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode2v3
*.mode1v3
*.perspectivev3
*.swp
*.lock

default.profraw
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

*~.nib
/*.gcno

.idea


